html,body {
	margin: 0;
	padding: 0;
	width: 100%;
	background-color: #F5F5F5;
}
header{
	background-color: #000;
	width: 100%;
}
/* TITRE */
h1{
	color: #fff;
	margin: 0;
	text-align: center;
	padding: 30px;
	font-size: 40px;
}



/* MENU */
nav{
	border-top: 1px solid #fff;
}
nav ul {
	padding: 0;
	text-align: center;
	margin: 0;
	
}
nav ul li {
	display: inline-block;
	
	padding-top: 30px;
	padding-bottom: 30px; 
	font-size: 30px;
	
}
nav a{
	padding: 30px;
	color: #fff;
	text-decoration: none;
}
nav a:hover {
	cursor: pointer;
	background-color: grey;
}
#navigation{
 background: #000;
 }
 .fixNavigation{
 	border-top: none;
 	z-index: 9999;
	position: fixed;
 	top: 0;
 	/* Mise en forme */
 	width: 100%; /* <-- Largeur de votre site */
 }



/* MAIN */
main{
	width: 100%;
}

h2{
	border-radius: 15px;
	margin: 20px auto 20px auto;
	width: 60%;
	height: 50px;
	padding: 30px;
	text-align: center;
	font-size: 40px;
	background-color: #606060;
	
}
article {
	display: flex;
	justify-content: center;
	margin:15px;
	flex-wrap: wrap; 
}
article a{
	background-color: #DCDCDC; 
	margin: 15px;
	border-radius: 15px;
	text-align: center;
	width: 30em;
	height: 28em;
	text-decoration: none;
}
article a:hover {
	cursor: pointer;
	background-color: grey;
}
article a p{
	padding: 15px;
	font-size: 30px;
	color: #000;
}
img{
	width: 14em;
	height: 12em;
}


/*  FOOTER  */

footer{
	background-color: #000;
	width: 100%;
	height: 100px;
}