html,body {
	margin: 0;
	padding: 0;
	width: 100%;
	/*background-color: #F5F5F5;*/
	background-color: #fff;
}
header{
	background-color: #000;
	width: 100%;
}
/* TITRE */
h1{
	color: #fff;
	margin: 0;
	text-align: center;
	padding: 30px;
	font-size: 40px;
}



/* MENU */
nav ul {
	padding: 0;
	text-align: center;
	margin: 0;
	
}
nav ul li {
	display: inline-block;
	padding-top: 30px;
	padding-bottom: 30px; 
	font-size: 30px;
}
.navigation{
 background: #000;
 border-top: 1px solid #fff;
 }
 .lien_menu{
 	padding: 30px;
	color: #fff;
	text-decoration: none;
 }
 .lien_menu:hover {
	cursor: pointer;
	background-color: grey;
}
 .fixNavigation{
 	border-top: none;
 	z-index: 9999;
	position: fixed;
 	top: 0;
 	width: 100%; /* <-- Largeur de votre site */
 }


 /*  MAIN  */
main{
	width: 65%;
	margin: 100px auto;
	padding: 50px;
	background-color: #F5F5F5;
}
article{
	margin-bottom: 80px;
}
h3{
	font-size: 40px;
}
p{
	font-size: 25px;
	text-decoration: none;
	text-align: justify;

}



/* page malvoyance */
.grille{
	display: grid;
	grid-template-columns: repeat(8,1fr);
	grid-gap: 10px;
}
.logo{
	grid-row: 1;
	grid-column: 1;
	margin: auto;
	max-width: 60%;
	max-height:auto;
	
}
.titrelogo{
	grid-row: 1;
	grid-column: 2/9;
}
.titre{
	grid-row: 1;
	grid-column: 1/9;
}


.a2all{
	grid-row: 2;
	grid-column: 1/9;
}
.a3all{
	grid-row: 3;
	grid-column: 1/9;
}
.a4all{
	grid-row: 4;
	grid-column: 1/9;
}
.a5all{
	grid-row: 5;
	grid-column: 1/9;
}
.a6all{
	grid-row: 6;
	grid-column: 1/9;
}
.a7all{
	grid-row: 7;
	grid-column: 1/9;
}
.a8all{
	grid-row: 8;
	grid-column: 1/9;
}
.a9all{
	grid-row: 9;
	grid-column: 1/9;
}

/* page malvoyance */
.deux{

	grid-row: 2;
	grid-column: 1/9;
}
.sept{

	grid-row: 7;
	grid-column: 1/9;
}
.huit{

	grid-row: 8;
	grid-column: 1/9;
}


.maculaire{

	grid-row: 3/5;
	grid-column: 6/9;
	margin: auto;
	max-width: 100%;
	max-height: auto;
}
.glaucome{
	grid-row: 5;
	grid-column: 6/9;
	margin: auto;
	max-width: 100%;
	max-height: auto;
}
.retinopathie{
	grid-row: 6;
	grid-column: 6/9;
	margin: auto;
	max-width: 100%;
	max-height: auto;
}


.quatre{

	grid-row: 4;
	grid-column: 1/6;
}
.cinq{
	grid-row: 5;
	grid-column: 1/6;
}

.six{

	grid-row: 6;
	grid-column: 1/6;
}
.trois{

	grid-row: 3;
	grid-column: 1/6;
}



/* page hardware */

.imagehardware{
	grid-row: 1;
	grid-column: 4/6;
	max-width: 60%;
	max-height:auto;
}
.a216{
	grid-row: 2;
	grid-column: 1/6;
}
.a269{
	grid-row: 2;
	grid-column: 6/9;
	margin: auto;
	max-width: 100%;
	max-height: auto;
}
table{
	margin: auto;
	border-collapse: collapse;
	width: 100%;
}
/* Toutes les cellules des tableaux... */
td, th {
    border: 1px solid black; /* auront une bordure de 1px */
    text-align: center;
    padding: 5px;
    
}
caption{
	caption-side: bottom;
}


 /*  FOOTER  */

footer{
	margin: auto;
	background-color: #000;
	display: flex;
	padding: 40px;
	flex-wrap: wrap;
	justify-content: space-around;
}


.validator{
	display: flex;
	flex-direction: column;
}
h5{
	color: white;
	font-size: 20px;
}
#logo_IUT{
	width: 200px;
	height: 60px;
}
.realisateur{
	color: white;
}
#valid_html{
	width:120px;
	height:50px;
}
#valid_css{
	width:120px;
	height:50px;
}

 